.latestUpdates__table {
  width: 100%;
}

.latestUpdates__heading {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: .08em;
  margin: 0;
  margin-bottom: 10px;
}

.latestUpdates__table th {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  color: #73767e;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  letter-spacing: .15em;
  padding-bottom: 8px;
}

.latestUpdates__table td {
  font-size: .8rem;
  font-family: 'Roboto', sans-serif;
}

.latestUpdates__buttons {
  padding-left: 8px;
}

.latestUpdates__info-row{
  cursor: pointer;
}