.DashboardWidget {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 24px;
  padding: 24px 42px;
  animation: fade-in .5s linear;
  /* box-shadow: 0 0 60px rgba(0, 0, 0, .3); */
}

.DashboardWidget--fluid {
  padding: 0;
}