.Sidebar {
  height: 100%;
  width: 185px;
  overflow: hidden;
  background-color: #1e3543;
  position: relative;
  font-family:'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

.sidebar__heading {
  margin-top: 10px;
  margin-bottom: 5px;
  margin-left: 25px;
  text-transform: uppercase;
  font-size: 12px;
}

.sidebar__content {
  background-color: #286c7f;
  color: white;
  padding-top: 15px;
}

.sidebar__list {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 46px;
}

.sidebar__overview {
  margin-bottom: 
}

.sidebar__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 50px;
  height: 33px;
  transition: background-color .3s
}

.sidebar__list-item::before {
  content: '';
  position: absolute;
  opacity: .6;
  left: 25px;
  width: 16px;
  height: 13px;
  background-image: url('/assets/graph/group.png');
  background-repeat: no-repeat;
}

.sidebar__kpi::before {
  height: 16px;
  background-image: url('/assets/gear/923274-200.png');
}

.sidebar__add-new::before {
  height: 17px;
  width: 17px;
  background-image: url('/assets/plus/fill-38-fill-39-fill-40.png');
}

.sidebar__list-item, .sidebar__list-item a {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
}

.sidebar__list-item--active {
  background-color: #1c323e;
  color: white;
}

.sidebar__list-item--active, .sidebar__list-item--active a {
  color: white;
}

.sidebar__list-item--active::before {
  opacity: 1;
}
